.products {
  display: grid;
  grid-template-areas:
    "product-details"
    "list";
  grid-template-columns: 1fr;
  grid-template-rows: 0 1fr;
  position: relative;
}

.list {
  display: grid;
  grid-gap: 1.5rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  grid-template-rows: 1fr;
}

.product-details {
  grid-area: product-details;
}
