{{page-title "Products"}}

<Ui::Page @title="Products">
  <div local-class="products">
    <div local-class="list">
      List of products goes here.
    </div>

    <div class="product-details">
      {{outlet}}
    </div>
  </div>
</Ui::Page>